<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>错误信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<center>
    <br><br>
    <h2 style="color:green">错误信息</h2>
    <br><br>
    <h2 style="color:green"th:text="'错误: ' + ${error}"></h2>
    <a href="/stock/query"><button type="button" class="btn btn-primary">重新查询</button></a>
    </center>
</body>

</html>
