<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>查询股票</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<center>
    <br><br>
    <h2 style="color:green">查询股票</h2>
    <br><br>

    <form class="form-horizontal" role="form" action="#" th:action="@{/query}" th:object="${params}" method="post">

        <div class="form-group" style="width:600px">
            <label for="name" class="col-sm-2 control-label">所属市场</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{prefix}" class="form-control" id="name" placeholder="输入SZ或SH">
            </div>
        </div>

        <div class="form-group" style="width:600px">
            <label for="age" class="col-sm-2 control-label">股票代码</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{code}" class="form-control" id="age" placeholder="输入股票代码">
            </div>
        </div>

        <div class="form-group" style="width:600px">
            <label for="gender" class="col-sm-2 control-label">营收增速</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{revenueInc}" class="form-control" id="gender" placeholder="输入预期的营收增速">
            </div>
        </div>

        <div class="form-group" style="width:600px">
            <label for="email" class="col-sm-2 control-label">净利增速</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{profitInc}" class="form-control" id="email" placeholder="输入预期的净利润增速">
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary" id="btn">提交</button>
                <input type="reset" class="btn btn-warning" value="清空" />
            </div>
        </div>
    </form>

</center>
</body>
</html>
